body{

    font-family: Arial, sans-serif;
    display: flex;
    background-image: url("https://wallpapers.com/images/hd/kakashi-4k-3840-x-2160-5loqjl8c25hretzg.jpg");
    background-repeat: no-repeat;
    background-size: cover;         
    background-position: center;  

}

.menu {
    width: 200px;
    background-color: #00ffea;
    padding: 20px;
    height: 100vh;
}

.conteudo {
    flex: 1;
    padding: 20px;
    color: white;
}


.menu ul {
    list-style-type: nome;
    padding: 0;
}


.menu ul li a {
    text-decoration: nome;
    color: black;
    display: block;
    padding: 10px 0;
}
