<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Curriculo



{% endblock %}

{% block content %}
<h1>Curriculo</h1>

<p>Meu Curriculo

    <h1>Nome: Sofia Garbazza Leite</h1>
 <p>Email: 12401234@aluno.cotemig.com.br | Telefone: (31)4002-8922</p>
 </header>

 <section>
 <h2>Experiência Profissional</h2>
 <h1>Estagio com foco em Planilhas</h1>
 </section>

 <section>
 <h2>Formação Acadêmica</h2>
 <h1>Cotemig/ 100% concluido</h1>
 </section>

 <section>
 <h2>Idiomas</h2>
 <p>Inglês: 100%</p>
 <p>Espanhol: 50%</p>
 </section>
</p>
{% endblock %}
